@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body h1, html h1 {
  font-family: 'league-gothic' ,sans-serif;
  font-weight: 400;
  font-style: normal;
}

body a, html a {
  text-decoration: none;
  color: inherit;
}

body .btn, html .btn {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  height: 50px;
  width: 130px;
  margin-left: 40%;
}

body .btn a, html .btn a {
  font-size: 20px;
  font-weight: bold;
}

body .btn:hover, html .btn:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  background-color: black;
}

body .btn:hover a, html .btn:hover a {
  color: white;
}

header {
  padding: 2em;
}

header .logo {
  height: 30px;
  cursor: auto;
}

header .menu-btn {
  height: 30px;
  float: right;
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
}

section h1 {
  font-size: 120px;
  margin-bottom: 0;
  text-align: center;
}

section p {
  font-size: 30px;
  line-height: 0;
  margin-top: 0;
}

section .btn {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

nav {
  position: absolute;
  background-color: #F5F5F5;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav #cancel-menu {
  width: 30px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  list-style-type: none;
  line-height: 100px;
}

nav li {
  opacity: 0;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 100%;
  position: absolute;
  background: black;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 50%;
  left: 23%;
}

@media screen and (max-height: 300px) {
  nav ul {
    margin-top: 40px;
  }
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu #cancel-menu {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: show-item .6s forwards 1s ease-in-out;
          animation: show-item .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: show-item .6s forwards 1.2s ease-in-out;
          animation: show-item .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: show-item .6s forwards 1.4s ease-in-out;
          animation: show-item .6s forwards 1.4s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-item {
  from {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-item {
  from {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */